<template>
  <v-layout>
    <v-row>
      <v-col cols="12">
        <v-toolbar flat>
          <v-btn icon @click.stop="$router.go(-1)">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-toolbar-title>Detail Lahan</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon></v-btn>
        </v-toolbar>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            <span>{{ lahan.nama }}</span>
            <v-spacer></v-spacer>
            <span>
              <v-btn
                @click.stop="

                  editLahan(lahan);
                "
                text
                color="primary"
              >Ubah</v-btn>
            </span>
          </v-card-title>
          <v-card-text>
            <div
              class="subtitle-1"
            >{{ lahan.alamat }}, {{ lahan.desa.name || "" | capitalize }} , {{ lahan.kecamatan.name || "" | capitalize }} , {{ lahan.kotakab.name || "" | capitalize }}, {{ lahan.provinsi.name || "" | capitalize }}</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card min-height="300px">
          <v-card-title>
            Informasi Umum
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click.stop="editInformasiLahan(lahan)">Ubah</v-btn>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td class="subtitle-2">Luas Tanah</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.luas_pbb">
                      <td class="caption">{{ lahan.luas_pbb }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>
                  <tr>
                    <td class="subtitle-2">Status Kepemilikan</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.status_kepemilikan">
                      <td class="caption">{{ lahan.status_kepemilikan }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>
                  <tr>
                    <td class="subtitle-2">Pemilik Lahan</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.pemilik">
                      <td class="caption">{{ lahan.pemilik }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>
                  <!-- <tr>
                    <td class="subtitle-2">Bukti Kepemilikan</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.bukti_kepemilikan">
                      <td class="caption">{{ lahan.bukti_kepemilikan }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>-->
                  <tr>
                    <td class="subtitle-2">Sumber Air</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.sumber_air">
                      <td class="caption">{{ lahan.sumber_air }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>
                  <tr>
                    <td class="subtitle-2">Ketinggian Tanah (mdpl)</td>
                    <td class="subtitle-2">:</td>
                    <template v-if="lahan.ketinggian_tanah">
                      <td class="caption">{{ lahan.ketinggian_tanah }}</td>
                    </template>
                    <template v-else>
                      <td class="caption">Belum ada data</td>
                    </template>
                  </tr>
                  <tr>
                    <td v-if="lahan.biaya_sewa" class="subtitle-2">Biaya Sewa</td>
                    <td v-if="lahan.biaya_sewa" class="subtitle-2">:</td>
                    <template v-if="lahan.biaya_sewa">
                      <td class="caption">{{ lahan.biaya_sewa }}</td>
                    </template>
                  </tr>
                  <tr>
                    <td v-if="lahan.durasi_sewa" class="subtitle-2">Durasi Sewa</td>
                    <td v-if="lahan.durasi_sewa" class="subtitle-2">:</td>
                    <template v-if="lahan.durasi_sewa">
                      <td class="caption">{{ lahan.durasi_sewa }}</td>
                    </template>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>
            Galeri
            <v-spacer></v-spacer>
            <span>
              <v-btn color="primary" @click.stop="dialog.tambah.galeri = true">Tambah</v-btn>
            </span>
          </v-card-title>
          <v-card-text>
            <v-row>
              <template v-if="lahan.galeri.length > 0">
                <v-col
                  v-for="item in lahan.galeri"
                  :key="item.id"
                  class="d-flex child-flex pa-1"
                  cols="6"
                >
                  <v-card flat tile class="d-flex">
                    <v-img
                      :src="item.gambar"
                      aspect-ratio="1"
                      class="grey lighten-2"
                      height="100px"
                    >
                      <template v-slot:placeholder>
                        <v-row class="fill-height ma-0" align="center" justify="center">
                          <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </v-card>
                </v-col>
              </template>
              <template v-else>
                <v-col class="text-center">
                  <p>Tidak ada foto di galeri</p>
                </v-col>
              </template>
            </v-row>
          </v-card-text>
          <v-btn block color="primary" @click.stop="dialog.lihat.galeri = true">Lihat Lebih</v-btn>
        </v-card>
      </v-col>
      <v-col cols="12" md="12">
        <v-card>
          <v-card-title>
            Denah
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click.stop="dialog.update.lokasi = true">Ubah</v-btn>
          </v-card-title>
          <v-card-text>
            <!-- <pre>lat : {{lahan.lat}} lng :{{lahan.lng}}</pre> -->
            <iframe
              width="100%"
              height="400px"
              id="gmap_canvas"
              :src="'https://maps.google.com/maps?q='+ lahan.lat + ','+lahan.lng+'&hl=es&z=14&amp;output=embed'"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>
            Profil tanah
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="dialog.tambah.profil_tanah = true">Tambah</v-btn>
          </v-card-title>
          <v-card-text>
            <template v-for="item in profil_tanah">
              <v-list :key="item.id" three-line>
                <v-list-item>
                  <v-list-item-content>
                    <v-card flat @click.stop="editProfilTanah(item)">
                      <v-card-title>{{ item.subject | truncate(24, "...") }}</v-card-title>
                      <v-card-subtitle class="pa-3">
                        <v-chip small color="orange" dark>{{ item.created_at | date }}</v-chip>
                        <v-chip
                          small
                          color="purple"
                          dark
                        >{{ "Rian Ardiana Prapanca" | truncate(20, "...") }}</v-chip>
                      </v-card-subtitle>
                      <v-card-text>{{ item.deskripsi | truncate(72, "...") }}</v-card-text>
                      <v-card-actions class="pa-0">
                        <v-row class="ma-0">
                          <v-col class="pa-1">
                            <v-btn small depressed block :href="item.file">Download</v-btn>
                          </v-col>
                          <v-col class="pa-1">
                            <v-btn
                              small
                              depressed
                              block
                              @click.stop="deleteProfilTanah(item.id)"
                            >Delete</v-btn>
                          </v-col>
                        </v-row>
                      </v-card-actions>
                    </v-card>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>
            Riwayat lahan
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="dialog.tambah.riwayat_lahan = true">Tambah</v-btn>
          </v-card-title>
          <v-card-text>
            <template v-for="item in riwayat_lahan">
              <v-chip
                :key="item.id"
                class="ma-2"
                :color="item.hama !== null ? 'red' : item.komoditas !== null ? 'green' : 'black'"
                text-color="white"
                @click.stop="lihatRiwayatLahan(item)"
              >{{ item.hama !== null ? item.hama : item.komoditas !== null ? item.komoditas : item.penyakit }}</v-chip>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Blok lahan
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="dialog.tambah.blok_lahan = true">Tambah</v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table :headers="headers.blok_lahan" :items="blok_lahan">
              <template v-slot:item.id="{}">
                <nuxt-link :to="'/'">Lihat Detail</nuxt-link>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Program Tanam
            <v-spacer></v-spacer>
            <v-btn color="primary" @click.stop="dialog.tambah.program_tanam = true">Tambah</v-btn>
          </v-card-title>
          <v-card-text>
            <v-data-table :headers="headers.program_tanam" :items="lahan.program_tanam">
              <template v-slot:item.id="{ item }">
                <nuxt-link :to="$route.params.id + '/program-tanam/' + item.id">Lihat Detail</nuxt-link>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>Pemilik Lahan</v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <tbody>
                  <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{ lahan.pemilik || "Belum ada data" }}</td>
                  </tr>
                  <tr>
                    <td>Tempat tinggal</td>
                    <td>:</td>
                    <td>{{ "Belum ada data" }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-btn @click.stop="dialog.delete.lahan = true" text color="secondary">Hapus lahan ini</v-btn>
      </v-col>
    </v-row>

    <!-- MODAL DIALOG -->

    <!-- DIALOG TAMBAH PROFIL TANAH -->
    <v-dialog v-model="dialog.tambah.profil_tanah" width="600px" persistent>
      <v-card>
        <v-card-title>Tambah Profil Tanah</v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_profil">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input.tambah.profil_tanah.subject" label="Subjek"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.tambah.profil_tanah.deskripsi" label="Deskripsi"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  v-model="input.tambah.profil_tanah.file"
                  accept=".*"
                  label="File input"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.profil_tanah = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeProfilTanah()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG TAMBAH PROFIL TANAH -->

    <!-- DIALOG EDIT PROFIL TANAH -->
    <v-dialog v-model="dialog.update.profil_tanah" width="600px" persistent>
      <v-card>
        <v-card-title>Edit Profil Tanah</v-card-title>
        <v-card-text>
          <v-form ref="form_update_profil">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input.update.profil_tanah.subject" label="Subjek"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.profil_tanah.deskripsi" label="Deskripsi"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-btn :href="input.update.profil_tanah.file" depressed target="_blank">
                  <v-icon>mdi-file</v-icon>
                  <span class="pa-2">Lihat Berkas</span>
                </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.update.profil_tanah = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="() => {}">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG EDIT PROFIL TANAH -->

    <!-- DIALOG TAMBAH RIWAYAT LAHAN -->
    <v-dialog v-model="dialog.tambah.riwayat_lahan" width="640px" persistent>
      <v-card>
        <v-card-title>Riwayat Lahan</v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_riwayat">
            <v-row>
              <v-col cols="12">
                <v-radio-group row v-model="input.tambah.riwayat_lahan.radio">
                  <v-radio :value="1" label="Komoditas"></v-radio>
                  <v-radio :value="2" label="Hama"></v-radio>
                  <v-radio :value="3" label="Penyakit"></v-radio>
                </v-radio-group>
              </v-col>
              <template v-if="input.tambah.riwayat_lahan.radio == 1">
                <v-col cols="12">
                  <v-text-field
                    v-model="input.tambah.riwayat_lahan.komoditas"
                    label="Komoditas"
                    hint="Komoditas yang berkaitan"
                    dense
                  ></v-text-field>
                </v-col>
              </template>
              <template v-if="input.tambah.riwayat_lahan.radio == 2">
                <v-col cols="12">
                  <v-text-field
                    v-model="input.tambah.riwayat_lahan.hama"
                    label="Hama"
                    hint="Hama yang pernah atau sedang menjangkiti tanaman"
                    dense
                  ></v-text-field>
                </v-col>
              </template>
              <template v-if="input.tambah.riwayat_lahan.radio == 3">
                <v-col cols="12">
                  <v-text-field
                    v-model="input.tambah.riwayat_lahan.penyakit"
                    label="Penyakit"
                    hint="Penyakit yang diderita oleh tanaman"
                    dense
                  ></v-text-field>
                </v-col>
              </template>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.riwayat_lahan.deskripsi"
                  label="Deskripsi"
                  hint="Catatan tambahan jika ada"
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.riwayat_lahan = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeRiwayatLahan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG TAMBAH RIWAYAT LAHAN -->

    <!-- DIALOG BLOK LAHAN -->
    <v-dialog v-model="dialog.tambah.blok_lahan" width="640px" persistent>
      <v-card>
        <v-card-title>Blok Lahan</v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_blok">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.blok_lahan.nama"
                  label="Nama"
                  hint="Nama blok untuk pembeda"
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.blok_lahan.luas"
                  label="Luas"
                  type="number"
                  hint="Luas tanah yang digunakan"
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.blok_lahan.lebar"
                  label="Lebar"
                  type="number"
                  hint="Lebar tanah yang digunakan"
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.blok_lahan.panjang_min"
                  label="Panjang minimal"
                  type="number"
                  hint="Panjang minimal dari blok yang digunakan"
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.blok_lahan.panjang_max"
                  label="Panjang maksimal"
                  type="number"
                  hint="Panjang maksimal dari blok yang digunakan"
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.blok_lahan = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeBlokLahan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG BLOK LAHAN -->

    <!-- DIALOG PROGRAM TANAM -->
    <v-dialog v-model="dialog.tambah.program_tanam" width="640px" persistent>
      <v-card>
        <v-card-title>Program Tanam</v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_program">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.program_tanam.nama"
                  label="Nama"
                  hint="Nama Program Tanam"
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-combobox
                  :clearable="true"
                  :small-chips="true"
                  v-model="input.tambah.program_tanam.blok_lahan"
                  label="Blok Lahan"
                  multiple
                  :items="blok_lahan"
                  item-text="nama"
                  item-value="id"
                  hint="Blok yang digunakan untuk program tanam"
                  dense
                ></v-combobox>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.program_tanam = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeProgramTanam()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG PROGRAM TANAM -->

    <!-- DIALOG EDIT LAHAN -->
    <v-dialog v-model="dialog.update.lahan" width="600px" persistent scrollable>
      <v-card>
        <v-card-title>Edit Data Lahan</v-card-title>
        <v-card-text>
          <v-form ref="form_update_lahan">
            <v-row>
              <v-col cols="12">
                <v-text-field label="Nama lahan" v-model="input.update.lahan.nama"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea label="Alamat" v-model="input.update.lahan.alamat"></v-textarea>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Provinsi"
                  v-model="search.provinsi"
                  @focus="getProv"
                  @change="input.update.lahan.provinsi_id = search.provinsi.id"
                  required
                  :items="daftar_provinsi"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kabupaten atau Kota"
                  v-model="search.kotakab"
                  @focus="getKotakab"
                  @change="input.update.lahan.kotakab_id = search.kotakab.id"
                  required
                  :items="daftar_kotakab"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kecamatan"
                  v-model="search.kecamatan"
                  @focus="getKecamatan"
                  @change="input.update.lahan.kecamatan_id = search.kecamatan.id"
                  required
                  :items="daftar_kecamatan"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Desa"
                  v-model="search.desa"
                  @focus="getDesa"
                  @change="input.update.lahan.desa_id = search.desa.id"
                  required
                  :items="daftar_desa"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.update.lahan = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="updateLahan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG EDIT LAHAN -->

    <!-- DIALOG UPDATE INFORMASI UMUM -->
    <v-dialog v-model="dialog.update.informasi_umum" width="640px" persistent>
      <v-card>
        <v-card-title>Informasi umum</v-card-title>
        <v-card-text>
          <v-form ref="form_update_informasi">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  type="number"
                  v-model="input.update.informasi_umum.luas_pbb"
                  label="Luas lahan"
                  hint="Luas berdasarkan PBB"
                  dense
                >Luas tanah</v-text-field>
              </v-col>
              <v-col cols="12">
                <v-combobox
                  :clearable="true"
                  v-model="helper.lahan.sumber_air"
                  label="Sumber Air"
                  hint="Sumber air yang digunakan untuk mengairi lahan"
                  multiple
                  dense
                  :items="list.sumber_air"
                ></v-combobox>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  type="number"
                  v-model="input.update.informasi_umum.ketinggian_tanah"
                  label="Ketinggian"
                  dense
                  hint="Satuan meter di atas permukaan laut"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-combobox
                  :clearable="true"
                  v-model="input.update.informasi_umum.status_kepemilikan"
                  label="Status Kepemilikan"
                  dense
                  :items="list.status_kepemilikan"
                ></v-combobox>
              </v-col>
              <v-col cols="12" v-if="LahanSewa">
                <v-text-field label="Biaya Sewa" v-model="input.update.informasi_umum.biaya_sewa"></v-text-field>
                <v-text-field label="Durasi Sewa" v-model="input.update.informasi_umum.durasi_sewa"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.update.informasi_umum.pemilik"
                  label="Pemilik"
                  hint="Pemilik dari lahan"
                  dense
                ></v-text-field>
              </v-col>
              <!-- <v-col cols="12">
                <v-text-field
                  v-model="input.update.informasi_umum.bukti_kepemilikan"
                  label="Bukti Kepemilikan"
                  hint="Bukti untuk menunjang keaslian kepemilikan lahan"
                  dense
                ></v-text-field>
              </v-col>-->
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.update.informasi_umum = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="updateInformasiUmum()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG UPDATE INFORMASI UMUM -->

    <!-- DIALOG UPDATE RIWAYAT LAHAN -->
    <v-dialog v-model="dialog.update.riwayat_lahan" width="640px" persistent>
      <v-card>
        <v-card-title>
          <span>Riwayat</span>
          <v-spacer></v-spacer>
          <span>
            <v-btn text color="danger" class="red--text" @click.stop="deleteRiwayatLahan()">Hapus</v-btn>
          </span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form_update_riwayat">
            <v-row>
              <v-col cols="12">
                <template v-if="input.update.riwayat_lahan.komoditas !== null">
                  <v-text-field v-model="input.update.riwayat_lahan.komoditas" label="Komoditas"></v-text-field>
                </template>
                <template v-if="input.update.riwayat_lahan.hama !== null">
                  <v-text-field v-model="input.update.riwayat_lahan.hama" label="Hama"></v-text-field>
                </template>
                <template v-if="input.update.riwayat_lahan.penyakit !== null">
                  <v-text-field v-model="input.update.riwayat_lahan.penyakit" label="Penyakit"></v-text-field>
                </template>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.update.riwayat_lahan.deskripsi"
                  label="Deskripsi"
                  hint="Catatan tambahan jika ada"
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.update.riwayat_lahan = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="updateRiwayatLahan()">Ubah</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG UPDATE RIWAYAT LAHAN -->

    <!-- DIALOG DELETE LAHAN -->
    <v-dialog v-model="dialog.delete.lahan" width="600px" persistent>
      <v-card>
        <v-card-title>Hapus Lahan ini ?</v-card-title>
        <v-card-text>
          Lahan tidak bisa dihapus jika masih memiliki blok lahan dan program
          tanam.
        </v-card-text>
        <v-card-actions class="pa-0">
          <v-row class="ma-0">
            <v-col>
              <v-btn block text @click.stop="dialog.delete.lahan = false">TIDAK</v-btn>
            </v-col>
            <v-col>
              <v-btn block text @click.stop="deleteLahan()">YA</v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG DELETE LAHAN -->

    <!-- DIALOG TAMBAH GALERI -->
    <v-dialog v-model="dialog.tambah.galeri" width="600px" persistent>
      <v-card>
        <v-card-title>Tambah Foto</v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_galeri">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.galeri.judul"
                  :rules="[rules.required]"
                  label="Judul"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="input.tambah.galeri.deskripsi"
                  :rules="[rules.required]"
                  label="Deskripsi"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  v-model="input.tambah.galeri.gambar"
                  @change="previewTambahGaleri"
                  accept="image/*"
                  show-size
                  label="Gambar"
                ></v-file-input>
              </v-col>
              <v-col cols="12">
                <v-img v-if="input.tambah.galeri.preview" :src="input.tambah.galeri.preview">
                  <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.galeri = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeGaleriLahan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG TAMBAH GALERI -->

    <!-- DIALOG UPDATE GALERI -->
    <v-dialog v-model="dialog.update.galeri" width="600px" persistent>
      <v-card>
        <v-card-title>
          Preview Foto
          <v-spacer></v-spacer>
          <v-btn text @click.stop="deleteGaleriLahan(input.update.galeri.id)">Hapus</v-btn>
        </v-card-title>
        <v-card-text>
          <v-form ref="form_tambah_galeri">
            <v-row>
              <!-- <v-col cols="12">
                <v-file-input
                  v-model="input.update.galeri.gambar"
                  @change="previewUpdateGaleri"
                  accept="image/*"
                  show-size
                  label="Ganti Gambar"
                ></v-file-input>
              </v-col>-->
              <v-col cols="12">
                <v-img
                  v-if="input.update.galeri.preview"
                  :src="input.update.galeri.preview"
                  label="Gambar saat ini"
                  alt="Gambar saat ini"
                ></v-img>
              </v-col>
              <v-col cols="12">
                <!-- <input type="file" accept="image/*" ref="updateGambar" @change="onGambarChange" /> -->
              </v-col>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class="title font-weight-bold">{{input.update.galeri.judul}}</v-list-item-title>
                  <v-list-item-subtitle class="subtitle">{{input.update.galeri.deskripsi}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <!-- <v-col cols="12">
                <v-text-field v-model="input.update.galeri.judul" label="Judul"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.galeri.deskripsi" label="Deskripsi"></v-text-field>
              </v-col>-->
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn block color="red" dark @click.stop="dialog.update.galeri = false">Tutup</v-btn>
          <!-- <v-btn text color="primary" @click.stop="updateGaleriLahan()">Simpan</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG UPDATE GALERI -->

    <!-- DIALOG LIHAT GALERI -->
    <v-dialog v-model="dialog.lihat.galeri" width="640px" persistent>
      <v-card>
        <v-card-title>Galeri {{ lahan.nama }}</v-card-title>
        <v-card-text>
          <v-row>
            <template v-if="lahan.galeri.length > 0">
              <v-col
                v-for="item in lahan.galeri"
                :key="item.id"
                class="d-flex child-flex pa-1"
                cols="4"
              >
                <v-card flat tile class="d-flex" @click.stop="lihatFoto(item)">
                  <v-img
                    :src="item.gambar"
                    aspect-ratio="1"
                    class="grey lighten-2"
                    height="100px"
                    contain
                  >
                    <template v-slot:placeholder>
                      <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
            </template>
            <template v-else>
              <v-col class="text-center">
                <p>Tidak ada foto di galeri</p>
              </v-col>
            </template>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn block color="red" dark @click.stop="dialog.lihat.galeri = false">Tutup</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG LIHAT GALERI -->
    <!-- DIALOG UBAH LOKASI -->
    <v-dialog v-model="dialog.update.lokasi" persistent width="400px" scrollable>
      <v-card>
        <v-card-title>Ubah lokasi</v-card-title>
        <v-card-text>
          <v-form ref="form_update_lokasi">
            <v-row>
              <v-col cols="6">
                <v-text-field label="Longitude" type="number" v-model="input.update.lokasi.lat"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label="Latitude" type="number" v-model="input.update.lokasi.lng"></v-text-field>
              </v-col>
            </v-row>
          </v-form>
          <v-btn text disabled>Tandai lokasi melalui maps</v-btn>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click.stop="dialog.update.lokasi = false;$refs.form_update_lokasi.reset();"
          >Tutup</v-btn>
          <v-btn text color="primary" @click.stop="updateLokasi()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG UBAH LOKASI -->

    <!-- DIALOG ERROR -->
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->

    <!-- DIALOG SUCCESS -->
    <v-snackbar v-model="dialog.success" color="info" top>
      {{ success || "Success" }}
      <v-btn text @click="dialog.success = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG SUCCESS -->
    <!-- END MODAL -->
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      headers: {
        blok_lahan: [
          { text: "Nama", value: "nama" },
          { text: "Luas", value: "luas" },
          { text: "Lebar", value: "lebar" },
          { text: "Panjang Minimal", value: "panjang_min" },
          { text: "Panjang Maximal", value: "panjang_max" },
          { text: "Detail", value: "id" }
        ],
        program_tanam: [
          { text: "Nama", value: "nama" },
          { text: "Luas", value: "luas" },
          { text: "Komoditas", value: "komoditas" },
          { text: "Jumlah pohon", value: "jumlah_pohon" },
          { text: "Survival rate", value: "surv_rate" },
          { text: "Detail", value: "id" }
        ]
      },

      lahan: {
        id: "",
        nama: "",
        lat: "",
        lng: "",
        alamat: "",
        provinsi: {
          id: "",
          name: ""
        },
        kotakab: {
          id: "",
          name: ""
        },
        kecamatan: {
          id: "",
          name: ""
        },
        desa: {
          id: "",
          name: ""
        },
        provinsi_id: "",
        kotakab_id: "",
        kecamatan_id: "",
        desa_id: "",
        luas_pbb: "",
        status_kepemilikan: "",
        biaya_sewa: "",
        durasi_sewa: "",
        pemilik: "",
        sumber_air: "",
        ketinggian_tanah: "",
        status_kepemilikan: "",
        bukti_kepemilikan: "",
        program_tanam: [],
        blok_lahan: [],
        riwayat: [],
        galeri: []
      },

      blok_lahan: [],

      riwayat_lahan: [],

      profil_tanah: [],

      list: {
        status_kepemilikan: ["Sewa", "Kas Desa", "Izin Olah", "Perseorangan"],
        sumber_air: ["Air Hujan", "Air Tanah", "Sungai", "Laut", "Pompa"]
      },

      dialog: {
        tambah: {
          profil_tanah: false,
          blok_lahan: false,
          riwayat_lahan: false,
          program_tanam: false,
          galeri: false
        },
        lihat: {
          riwayat_lahan: false,
          galeri: false
        },
        update: {
          riwayat_lahan: false,
          informasi_umum: false,
          lahan: false,
          profil_tanah: false,
          galeri: false,
          lokasi: false
        },
        delete: {
          lahan: false
        },
        error: false,
        success: false
      },

      input: {
        tambah: {
          riwayat_lahan: {
            radio: 1,
            hama: null,
            komoditas: null,
            deskripsi: null
          },
          blok_lahan: {
            lahan_id: null,
            nama: null,
            luas: null,
            lebar: null,
            panjang_min: null,
            panjang_max: null
          },
          program_tanam: {
            nama: null,
            blok_lahan: null,
            lahan_id: this.$route.params.id
          },
          profil_tanah: {
            subject: null,
            deskripsi: null,
            file: null
          },
          galeri: {
            preview: null,
            judul: null,
            deskripsi: null,
            file: null
          }
        },
        update: {
          lahan: {
            nama: null,
            alamat: null,
            provinsi_id: null,
            kotakab_id: null,
            kecamatan_id: null,
            desa_id: null
          },
          informasi_umum: {
            luas_pbb: null,
            sumber_air: null,
            ketinggian_tanah: null,
            status_kepemilikan: null,
            biaya_sewa: null,
            durasi_sewa: null,
            pemilik: null,
            bukti_kepemilikan: null
          },
          riwayat_lahan: {
            id: null,
            hama: null,
            komoditas: null,
            deskripsi: null
          },
          profil_tanah: {
            subject: null,
            deskripsi: null,
            file: null
          },
          galeri: {
            id: null,
            judul: null,
            deskripsi: null,
            gambar: null
          },
          lokasi: {
            lat: null,
            lng: null
          }
        }
      },
      error: "",
      success: "",
      search: {
        provinsi: {
          id: null,
          name: null
        },
        kotakab: {
          id: null,
          name: null
        },
        kecamatan: {
          id: null,
          name: null
        },
        desa: {
          id: null,
          name: null
        }
      },
      helper: {
        lahan: {
          sumber_air: null
        }
      },
      daftar_provinsi: [],
      daftar_kotakab: [],
      daftar_kecamatan: [],
      daftar_desa: [],
      rules: {
        required: value => !!value || "Required.",
        maximum: value => value.length <= 24 || "Maximum 24",
        email: value => {
          const pattern = /^(?:(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,})))?$/;
          return pattern.test(value) || "Invalid e-mail.";
        },
        alphabet: value => {
          const pattern = /^[a-zA-Z]+$/;
          return pattern.test(value) || "Please use only alphabet";
        }
      }
    };
  },
  methods: {
    copyValue(destination, source) {
      for (let key in source) {
        // Check existing key
        if (key in destination) {
          // Check type of key
          switch (typeof source[key]) {
            // If type object => {}
            case "object":
              this.copyValue(destination[key], source[key]);
              break;
            // Default act
            default:
              // additional helper
              switch (key) {
                case "sumber_air":
                  // Convert from string to array again for combobox
                  this.helper.lahan.sumber_air = source[key].split(", ");
                  break;
                // Default act
                default:
                  break;
              }
              destination[key] = source[key];
              break;
          }
        }
      }
    },
    async onGambarChange(event) {
      let gambar = event.target.files[0];
      if (
        gambar.name.split(".")[1] !== "png" &&
        gambar.name.split(".")[1] !== "jpg" &&
        gambar.name.split(".")[1] !== "jpeg"
      ) {
        this.error = "Gambar yang didukung hanya png, jpg dan jpeg";
        this.dialog.error = true;
      } else await this.updateFotoGaleriLahan(gambar);
    },
    chooseImage() {
      this.$refs.updateGambar.click();
    },
    previewTambahGaleri(file) {
      this.input.tambah.galeri.preview =
        file != null ? URL.createObjectURL(file) : null;
    },
    previewUpdateGaleri(file) {
      this.input.update.galeri.preview =
        file != null ? URL.createObjectURL(file) : null;
    },
    editProfilTanah(object) {
      this.copyValue(this.input.update.profil_tanah, object);
      this.dialog.update.profil_tanah = true;
    },
    editLahan(object) {
      this.copyValue(this.input.update.lahan, object);
      this.dialog.update.lahan = true;
    },
    editInformasiLahan(object) {
      this.copyValue(this.input.update.informasi_umum, object);
      this.dialog.update.informasi_umum = true;
    },
    lihatRiwayatLahan(object) {
      this.copyValue(this.input.update.riwayat_lahan, object);
      this.dialog.update.riwayat_lahan = true;
    },
    lihatFoto(object) {
      this.copyValue(this.input.update.galeri, object);
      this.dialog.update.galeri = true;
    },
    async getAllGaleriLahan() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id + "/galeri/")
        .then(response => {
          this.galeri = response;
        })
        .catch(error => {
          this.error = "Terjadi kesalahan saat mengambil data galeri";
          this.dialog.error = true;
        });
    },
    async getLahan() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id)
        .then(response => {
          this.lahan = response;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getProfilTanah() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id + "/profil")
        .then(response => {
          this.profil_tanah = response;
          console.log(response);
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getBlokLahan() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id + "/blok")
        .then(response => {
          this.blok_lahan = response;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getRiwayatLahan() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id + "/riwayat")
        .then(response => {
          this.riwayat_lahan = response;
          console.log(response);
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateRiwayatLahan() {
      await this.$axios({
        method: "post",
        url:
          "lahan/" +
          this.$route.params.id +
          "/riwayat/" +
          this.input.update.riwayat_lahan.id,
        data: this.input.update.riwayat_lahan
      })
        .then(response => {
          this.dialog.update.riwayat_lahan = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_update_riwayat.reset();
          this.getRiwayatLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateLokasi() {
      this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id,
        data: this.input.update.lokasi
      })
        .then(response => {
          this.dialog.update.lokasi = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_update_lokasi.reset();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateLahan() {
      this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id,
        data: this.input.update.lahan
      })
        .then(response => {
          this.dialog.update.lahan = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_update_lahan.reset();
        })
        .then(() => {
          this.getLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateInformasiUmum() {
      console.log(this.input.update.informasi_umum);
      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id,
        data: this.input.update.informasi_umum
      })
        .then(response => {
          console.log(response);
          this.dialog.update.informasi_umum = false;
          this.success = response.data.messages;
          this.dialog.success = true;
        })
        .then(() => {
          this.getLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateFotoGaleriLahan(gambar) {
      const body = new FormData();
      for (let key in this.input.update.galeri) {
        body.append(
          key,
          key == "gambar" ? gambar : this.input.update.galeri[key]
        );
      }

      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id + "/galeri",
        data: body
      })
        .then(response => {
          this.dialog.tambah.galeri = false;
          this.success = response.data.messages;
          this.dialog.success = true;
        })
        .then(() => {
          this.getLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateGaleriLahan() {
      const body = new FormData();
      body.append("id", this.input.update.galeri.id);
      body.append("judul", this.input.update.galeri.judul);
      body.append("deskripsi", this.input.update.galeri.deskripsi);
      body.append(
        "gambar",
        this.input.update.galeri.gambar || this.input.update.galeri.preview
      );

      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id + "/galeri",
        data: body
      })
        .then(response => {
          this.getLahan();
          this.dialog.tambah.galeri = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_tambah_galeri.reset();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeGaleriLahan() {
      if (this.$refs.form_tambah_galeri.validate()) {
        const body = new FormData();
        body.append("lahan_id", this.$route.params.id);
        body.append("judul", this.input.tambah.galeri.judul);
        body.append("deskripsi", this.input.tambah.galeri.deskripsi);
        body.append("gambar", this.input.tambah.galeri.gambar);

        await this.$axios({
          method: "post",
          url: "lahan/" + this.$route.params.id + "/galeri",
          data: body
        })
          .then(response => {
            this.getLahan();
            this.dialog.tambah.galeri = false;
            this.success = response.data.messages;
            this.dialog.success = true;
            this.$refs.form_tambah_galeri.reset();
          })
          .catch(error => {
            this.error =
              "Terjadi error, pastikan semua data terisi dengan benar";
            this.dialog.error = true;
          });
      }
    },
    async storeProfilTanah() {
      const body = new FormData();
      body.append("lahan_id", this.$route.params.id);
      body.append("subject", this.input.tambah.profil_tanah.subject);
      body.append("deskripsi", this.input.tambah.profil_tanah.deskripsi);
      body.append("file", this.input.tambah.profil_tanah.file);

      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id + "/profil",
        data: body
      })
        .then(response => {
          this.dialog.tambah.profil_tanah = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.getProfilTanah();
          this.$refs.form_tambah_profil.reset();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeRiwayatLahan() {
      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id + "/riwayat",
        data: this.input.tambah.riwayat_lahan
      })
        .then(response => {
          this.dialog.tambah.riwayat_lahan = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.getRiwayatLahan();
          this.$refs.form_tambah_riwayat.reset();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeBlokLahan() {
      await this.$axios({
        method: "post",
        url: "lahan/" + this.$route.params.id + "/blok",
        data: this.input.tambah.blok_lahan
      })
        .then(response => {
          this.dialog.tambah.blok_lahan = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.getBlokLahan();
          this.$refs.form_tambah_blok.reset();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeProgramTanam() {
      await this.$axios({
        method: "post",
        url: "/program-tanam",
        data: this.input.tambah.program_tanam
      })
        .then(response => {
          this.dialog.tambah.program_tanam = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_tambah_program.reset();
          this.getLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async deleteGaleriLahan(id) {
      await this.$axios({
        method: "delete",
        url: "lahan/" + this.$route.params.id + "/galeri/" + id,
        data: null
      })
        .then(response => {
          let pictures = this.lahan.galeri;
          pictures = pictures.filter(function(picture) {
            return parseInt(picture.id, 10) !== parseInt(id, 10);
          });
          this.lahan.galeri = pictures;
          this.dialog.update.galeri = false;
          this.dialog.lihat.galeri = false;
          this.success = response.data.messages;
          this.dialog.success = true;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async deleteLahan() {
      await this.$axios({
        method: "delete",
        url: "lahan/" + this.$route.params.id,
        data: null
      })
        .then(response => {
          this.$router.replace("/lahan");
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async deleteRiwayatLahan() {
      await this.$axios({
        method: "delete",
        url:
          "lahan/" +
          this.$route.params.id +
          "/riwayat/" +
          this.input.update.riwayat_lahan.id,
        data: null
      })
        .then(response => {
          this.dialog.update.riwayat_lahan = false;
          this.success = response.data.messages;
          this.dialog.success = true;
          this.$refs.form_update_riwayat.reset();
          this.getRiwayatLahan();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getProv() {
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/provinsi")
        .then(response => {
          this.daftar_provinsi = response.data.provinsi;
          return this.daftar_provinsi;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getKotakab() {
      if (this.search.provinsi.id) {
        const params = {
          province_id: this.search.provinsi.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kota", { params })
          .then(response => {
            this.daftar_kotakab = response.data.kota.cities;
            return this.daftar_provinsi;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getKecamatan() {
      if (this.search.kotakab.id) {
        const params = {
          city_id: this.search.kotakab.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kecamatan", { params })
          .then(response => {
            this.daftar_kecamatan = response.data.kecamatan.districts;
            return this.daftar_kecamatan;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getDesa() {
      if (this.search.kecamatan.id) {
        const params = {
          district_id: this.search.kecamatan.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kelurahan", { params })
          .then(response => {
            this.daftar_desa = response.data.kelurahan.villages;
            return this.daftar_desa;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async deleteProfilTanah(id) {
      await this.$axios({
        method: "delete",
        url: "lahan/" + this.$route.params.id + "/profil/" + parseInt(id),
        data: null
      })
        .then(response => {
          this.success = response.data.messages;
          this.dialog.success = true;
          this.getProfilTanah();
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    }
  },
  filters: {
    truncate: function(value, length, suffix) {
      if (!value) return "";
      if (value.length > length) {
        return value.substring(0, length) + suffix;
      }
      return value;
    },
    date: function(value) {
      if (!value) {
        return "";
      }
      value = value.split(" ")[0];
      value = value.split("-");
      return value[2] + "/" + value[1] + "/" + value[0];
    },
    capitalize: function(value) {
      if (!value) return "";
      else if (value.length === 1) return value;
      else
        return value
          .split(" ")
          .map(
            element =>
              element.charAt(0).toUpperCase() + element.slice(1).toLowerCase()
          )
          .join(" ");
    }
  },
  computed: {
    LahanSewa: function() {
      if (!this.input.update.informasi_umum.status_kepemilikan) return false;
      else if (
        this.input.update.informasi_umum.status_kepemilikan.toLowerCase() ===
        "sewa"
      )
        return true;
      else return false;
    }
  },
  watch: {
    "helper.lahan.sumber_air": function(value) {
      this.input.update.informasi_umum.sumber_air = value.join(", ");
    }
  },
  mounted() {
    this.getLahan();
    this.getProfilTanah();
    this.getRiwayatLahan();
    this.getBlokLahan();
    this.getProv();
    this.getKotakab();
    this.getKecamatan();
    this.getDesa();
  }
};
</script>

<style></style>
