<template>
  <v-layout>
    <v-row>
      <v-col cols="12">
        <v-card color="primary" dark>
          <v-card-title>
            <span>Nama Program</span>
            <v-spacer></v-spacer>
            <span>
              <v-btn @click.stop="dialog.delete.program_tanam = true">Hapus</v-btn>
            </span>
          </v-card-title>
          <v-card-text></v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card color="primary" dark>
          <v-card-title>Luas lahan dikelola</v-card-title>
          <v-card-text class="text-center">
            <span class="display-4">{{ lahan_dikelola }}</span>
            <span class="display-1">
              m
              <sup>2</sup>
            </span>
            <br />
            <span class="subtitle-2">2 Blok Lahan</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="8">
        <v-card>
          <v-card-title>
            Komoditas
            <v-spacer></v-spacer>
            <v-btn class="primary" @click.stop="dialog.tambah.komoditas = true">Tambah</v-btn>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left">Komoditas</th>
                    <th class="text-left">Posisi Tanam</th>
                    <th class="text-left">Jumlah pohon</th>
                    <th class="text-left">Survival Rate</th>
                    <th class="text-left">Fase</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <pre>{{program_detail}}</pre> -->
                  <tr v-for="prog in program_detail" :key="prog.id">
                    <td>{{prog.komoditas.nama}}</td>
                    <td>{{prog.posisi.posisi}}</td>
                    <td>1000</td>
                    <td>100%</td>
                    <td>Pembibitan</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="12">
        <v-card>
          <v-card-title>Aktifitas</v-card-title>
          <v-card-text>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque corporis, reiciendis delectus quaerat repellat illo harum rerum non at? Voluptas in alias vitae harum. Placeat libero ut nostrum officiis minima.</p>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="12">
        <template>
          <v-expansion-panels class="py-2" accordion>
            <v-expansion-panel v-for="(item, i) in blok_bedengan" :key="i">
              <v-expansion-panel-header
                color="primary"
                class="white--text font-weight-bold"
              >{{ item.nama }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row>
                  <v-col cols="12">
                    <span class="subtitle-1">
                      Luas blok : {{item.luas}} m
                      <sup>2</sup>
                    </span>

                    <v-btn
                      v-if="item.bedengan == null || item.bedengan.length == 0"
                      class="float-right"
                      text
                      color="primary"
                      small
                      @click.stop="dialog.generate.bedengan = true; input.generate.bedengan.blok_lahan_id = item.id"
                    >Generate Bedengan</v-btn>
                  </v-col>
                  <v-col cols="12">
                    <v-data-table :items="item.bedengan" :headers="headers.bedengan">
                      <template v-slot:item.id="{}">
                        <v-btn
                          text
                          small
                          color="primary"
                          @click.stop="dialog.update.bedengan = true"
                        >Detail</v-btn>
                      </template>
                    </v-data-table>
                  </v-col>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </template>
      </v-col>
    </v-row>

    <!-- Dialog Tambah Komoditas -->
    <v-dialog v-model="dialog.tambah.komoditas" width="600px" persistent>
      <v-card>
        <v-card-title>Tambah Komoditas</v-card-title>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="12">
                <v-select
                  label="Komoditas"
                  :items="list_komoditas"
                  v-model="input.tambah.programdetail.komoditas_id"
                  item-text="nama"
                  item-value="id"
                  @focus="getKomoditas()"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-select
                  label="Posisi tanam"
                  :items="list_posisi_tanam"
                  v-model="input.tambah.programdetail.posisi_id"
                ></v-select>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.tambah.komoditas = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="storeProgramKomoditas()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- End Dialog Tambah Komoditas -->

    <!-- Dialog Generate Bedengan -->
    <v-dialog v-model="dialog.generate.bedengan" width="600px" persistent>
      <v-card>
        <v-card-title>Generate Bedengan</v-card-title>
        <v-card-text>
          <v-form ref="form_generate_bedengan">
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="input.generate.bedengan.count"
                  label="Jumlah"
                  type="number"
                  hint="Jumlah bedengan yang ingin dibuat."
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-switch
                  v-model="input.generate.bedengan.lubang_tengah"
                  label="Lubang tanam tengah"
                ></v-switch>
                <v-switch
                  v-model="input.generate.bedengan.lubang_samping"
                  label="Lubang tanam samping"
                ></v-switch>
                <v-switch
                  v-model="input.generate.bedengan.lubang_samping_sekunder"
                  label="Lubang tanam samping sekunder"
                ></v-switch>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text color="danger" @click.stop="dialog.generate.bedengan = false">Batal</v-btn>
          <v-btn text color="primary" @click.stop="generateBedengan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- End Dialog Generate Bedengan -->

    <!-- Dialog Update Bedengan -->
    <v-dialog v-model="dialog.update.bedengan" width="600px" persistent>
      <v-card tile flat>
        <v-card-title>Bedengan nama</v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12">
              <v-simple-table>
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <td>Panjang</td>
                      <td>Mantap</td>
                    </tr>
                    <tr>
                      <td>Lebar</td>
                      <td>Mantap</td>
                    </tr>
                    <tr>
                      <td>Lubang tanam tengah</td>
                      <td>Mantap</td>
                    </tr>
                    <tr>
                      <td>Lubang tanam samping</td>
                      <td>Mantap</td>
                    </tr>
                    <tr>
                      <td>Lubang tanam samping sekunder</td>
                      <td>Mantap</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
            <v-col cols="12">
              <v-tabs v-model="tab" background-color="primary" dark grow>
                <v-tab href="#tab-tengah">Tengah</v-tab>
                <v-tab href="#tab-samping">Samping</v-tab>
                <v-tab href="#tab-sekunder">Sekunder</v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab">
                <v-tab-item value="tab-tengah">
                  <v-card flat>
                    <v-card-text>
                      <v-form>
                        <v-row>
                          <v-col cols="12">
                            <div class="title">Jumlah tanaman tengah</div>
                            <div class="subtitle-1">
                              <v-icon>mdi-tree</v-icon>
                              <span>12</span>
                            </div>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Kondisi</div>
                            <span>
                              <v-chip color="green" class="white--text ma-2">Sehat : 6</v-chip>
                              <v-chip color="red" class="white--text ma-2">Sakit : 3</v-chip>
                              <v-chip color="black" class="white--text ma-2">Mati : 3</v-chip>
                            </span>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Update Data :</div>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.tengah.sehat"
                              label="Tanaman Sehat"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.tengah.sakit"
                              label="Tanaman Sakit"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.tengah.mati"
                              label="Tanaman Mati"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-btn class="float-right" color="primary">Simpan</v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
                <v-tab-item value="tab-samping">
                  <v-card flat>
                    <v-card-text>
                      <v-form>
                        <v-row>
                          <v-col cols="12">
                            <div class="title">Jumlah tanaman samping</div>
                            <div class="subtitle-1">
                              <v-icon>mdi-tree</v-icon>
                              <span>12</span>
                            </div>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Kondisi</div>
                            <span>
                              <v-chip color="green" class="white--text ma-2">Sehat : 6</v-chip>
                              <v-chip color="red" class="white--text ma-2">Sakit : 3</v-chip>
                              <v-chip color="black" class="white--text ma-2">Mati : 3</v-chip>
                            </span>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Update Data :</div>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.samping.sehat"
                              label="Tanaman Sehat"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.samping.sakit"
                              label="Tanaman Sakit"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.samping.mati"
                              label="Tanaman Mati"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-btn class="float-right" color="primary">Simpan</v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
                <v-tab-item value="tab-sekunder">
                  <v-card flat>
                    <v-card-text>
                      <v-form>
                        <v-row>
                          <v-col cols="12">
                            <div class="title">Jumlah tanaman sekunder</div>
                            <div class="subtitle-1">
                              <v-icon>mdi-tree</v-icon>
                              <span>12</span>
                            </div>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Kondisi</div>
                            <span>
                              <v-chip color="green" class="white--text ma-2">Sehat : 6</v-chip>
                              <v-chip color="red" class="white--text ma-2">Sakit : 3</v-chip>
                              <v-chip color="black" class="white--text ma-2">Mati : 3</v-chip>
                            </span>
                          </v-col>
                          <v-col cols="12">
                            <div class="title">Update Data :</div>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.sekunder.sehat"
                              label="Tanaman Sehat"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.sekunder.sakit"
                              label="Tanaman Sakit"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-text-field
                              v-model="input.update.tanaman.sekunder.mati"
                              label="Tanaman Mati"
                              :rules="[rules.required]"
                              type="number"
                              dense
                            ></v-text-field>
                          </v-col>
                          <v-col cols="12">
                            <v-btn class="float-right" color="primary">Simpan</v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs-items>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="pa-0">
          <v-btn
            tile
            block
            x-large
            @click.stop="dialog.update.bedengan = false"
            color="primary"
          >Tutup</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- End Dialog Update Bedengan -->

    <!-- DIALOG DELETE PROGRAM TANAM -->
    <v-dialog v-model="dialog.delete.program_tanam" width="600px" persistent>
      <v-card>
        <v-card-title>Hapus Program Tanam ini ?</v-card-title>
        <v-card-text>Pastikan program tanam telah selesai dijalankan sebelum melanjutkan untuk menghapusnya.</v-card-text>
        <v-card-actions class="pa-0">
          <v-row class="ma-0">
            <v-col>
              <v-btn block text @click.stop="dialog.delete.program_tanam = false">TIDAK</v-btn>
            </v-col>
            <v-col>
              <v-btn block text @click.stop="() => {}">YA</v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- END DIALOG DELETE PROGRAM TANAM -->

    <!-- DIALOG SUCCESS -->
    <v-snackbar v-model="dialog.success" color="info" top>
      {{ success || "Success" }}
      <v-btn text @click="dialog.success = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG SUCCESS -->

    <!-- DIALOG ERROR -->
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      tab: null,
      rules: {
        required: value => !!value || "Harus diisi."
      },
      rightDrawer: false,
      list_posisi_tanam: [
        { text: "Tengah", value: "1" },
        { text: "Samping", value: "2" },
        { text: "Samping sekdunder", value: "3" }
      ],
      list_komoditas: [
        { text: "Komoditas 1", id: "1" },
        { text: "Komoditas 2", id: "1" },
        { text: "Komoditas 3", id: "1" },
        { text: "Komoditas 4", id: "1" }
      ],
      example: [
        {
          id: 1,
          nama: "B1",
          lubang_tengah: "0",
          lubang_samping: "1",
          lubang_samping_sekunder: "2"
        },
        {
          id: 2,
          nama: "B2",
          lubang_tengah: "0",
          lubang_samping: "1",
          lubang_samping_sekunder: "2"
        },
        {
          id: 3,
          nama: "B3",
          lubang_tengah: "0",
          lubang_samping: "1",
          lubang_samping_sekunder: "2"
        }
      ],
      headers: {
        bedengan: [
          { text: "Nama", value: "nama" },
          { text: "Panjang", value: "panjang" },
          { text: "Lebar", value: "lebar" },
          { text: "Lubang Tengah", value: "lubang_tengah" },
          { text: "Lubang Samping", value: "lubang_samping" },
          { text: "Lubang Samping Sekunder", value: "lubang_samping_sekunder" },
          { text: "", value: "id" }
        ]
      },

      input: {
        update: {
          tanaman: {
            tengah: {
              sehat: null,
              sakit: null,
              mati: null
            },
            samping: {
              sehat: null,
              sakit: null,
              mati: null
            },
            sekunder: {
              sehat: null,
              sakit: null,
              mati: null
            }
          },
          bedengan: {
            id: null,
            nama: null,
            lubang_tengah: null,
            lubang_samping: null,
            lubang_samping_sekunder: null
          }
        },
        generate: {
          bedengan: {
            program_tanam_id: parseInt(this.$route.params.programId),
            blok_lahan_id: null,
            count: null,
            lubang_tengah: true,
            lubang_samping: true,
            lubang_samping_sekunder: true
          }
        },
        tambah: {
          programdetail: {
            komoditas_id: "",
            posisi_id: ""
          }
        }
      },

      lahan: {},
      program_detail: [],

      blok_bedengan: [],
      header_bedengan: [
        { text: "Nama bedengan", value: "nama" },
        { text: "Lubang tengah", value: "lubang_tengah" },
        { text: "Lubang samping", value: "lubang_samping" },
        { text: "Lubang samping sekunder", value: "lubang_samping_sekunder" },
        { text: "", value: "id" }
      ],

      dialog: {
        tambah: {
          komoditas: false
        },
        update: {
          bedengan: false
        },
        generate: {
          bedengan: false
        },
        delete: {
          program_tanam: false
        },
        error: false,
        success: false
      },

      error: "",
      success: ""
    };
  },
  methods: {
    async getKomoditas() {
      await this.$axios.$get("komoditas").then(response => {
        this.list_komoditas = response.data;
      });
    },
    async getLahan() {
      await this.$axios
        .$get("lahan/" + this.$route.params.id)
        .then(response => {
          this.lahan = response;
          for (let i = 0; i < this.lahan.blok_lahan.length; i++) {
            this.getBlok(this.lahan.blok_lahan[i].id);
          }
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getBlok(id) {
      const params = {
        blok_lahan_id: id
      };
      await this.$axios
        .$get("bedengan", { params })
        .then(response => {
          this.blok_bedengan = [...this.blok_bedengan, response];
          console.log(this.blok_bedengan);
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getProgramDetail() {
      await this.$axios({
        method: "get",
        url: "program-tanam/" + this.$route.params.programId + "/detail"
      })
        .then(response => {
          this.program_detail = response.data;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeProgramKomoditas() {
      await this.$axios({
        method: "post",
        url: "program-tanam/" + this.$route.params.programId + "/detail",
        data: this.input.tambah.programdetail
      })
        .then(response => {
          this.success = response.messages;
          this.getProgramDetail();
          this.dialog.success = true;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async generateBedengan() {
      await this.$axios({
        method: "post",
        url: "bedengan/generate",
        data: this.input.generate.bedengan
      })
        .then(response => {
          this.success = response.data.success.message;
          this.getLahan();
          this.dialog.success = true;
          this.$router.go(0);
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async storeProgramBedengan() {
      await this.$axios({
        method: "post",
        url: "bedengan",
        data: this.input.tambah.bedengan
      })
        .then(response => {
          this.success = response.messages;
          this.dialog.success = true;
          this.$router.go(-1);
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async deleteProgramTanam() {
      await this.$axios({
        methods: "post",
        url: "program-tanam",
        data: null
      })
        .then(response => {})
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    }
  },
  computed: {
    lahan_dikelola: function() {
      let sum = 0;
      this.blok_bedengan.forEach(blok => {
        sum += blok.luas;
      });
      return sum;
    }
  },
  mounted() {
    this.getLahan();
    this.getKomoditas();
    this.getProgramDetail();
  }
};
</script>

<style>
</style>
