<template>
  <v-layout>
    <v-row>
      <v-col cols="12">
        <v-toolbar flat>
          <v-btn icon @click.stop="$router.go(-1)">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-toolbar-title>Detail Pekerja</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon></v-btn>
        </v-toolbar>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Data diri
            <v-spacer></v-spacer>
            <v-btn text @click.stop="editPekerja('data_diri')" color="primary">Perbarui</v-btn>
          </v-card-title>
          <v-card-text>
            <v-simple-table>
              <template v-slot:default>
                <v-container>
                  <v-row>
                    <v-col>
                      <tr>
                        <td class="font-weight-bold">Nama Pekerja</td>
                        <td>:</td>
                        <td>{{ pekerja.nama || "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">NIK</td>
                        <td>:</td>
                        <td>{{ pekerja.nik || "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Nomor Telepon</td>
                        <td>:</td>
                        <td>{{ pekerja.no_telp || "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Email</td>
                        <td>:</td>
                        <td>{{ pekerja.email || "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Tempat lahir</td>
                        <td>:</td>
                        <td>{{ pekerja.tempat_lahir || "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Tanggal lahir</td>
                        <td>:</td>
                        <td>{{ pekerja.tanggal_lahir ? pekerja.tanggal_lahir.split('-').reverse().join('/') : "Belum ada data" }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Bank</td>
                        <td>:</td>
                        <td>{{ pekerja.bank || "" }} {{" "}} {{ pekerja.nomor_rekening || "Belum ada data" }} - {{ pekerja.nama_rekening || "" }}</td>
                      </tr>
                    </v-col>
                    <v-col>
                      <v-row class="text-center">
                        <v-col cols="12" align-self="center">
                          <h4>Foto Profil</h4>
                        </v-col>
                        <v-col cols="12" align-self="center">
                          <v-row justify="center" align="center" align-content="center">
                            <v-col cols="12">
                              <v-row
                                v-if="isLoadImage"
                                class="fill-height ma-0"
                                align="center"
                                justify="center"
                              >
                                <v-progress-circular indeterminate color="red"></v-progress-circular>
                              </v-row>
                              <v-img
                                v-else
                                :src="photoPekerja"
                                aspect-ratio="1"
                                min-height="80"
                                max-height="160"
                                contain
                              >
                                <template v-slot:placeholder>
                                  <v-row class="fill-height ma-0" align="center" justify="center">
                                    <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                                  </v-row>
                                </template>
                              </v-img>
                            </v-col>
                            <v-col cols="12">
                              <input
                                style="display: none"
                                type="file"
                                accept="image/*"
                                ref="inputImage"
                                @change="onImagePicked"
                              />
                            </v-col>
                            <v-col cols="12">
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                  small
                                  color="primary"
                                  @click.stop="$refs.inputImage.click()"
                                >Upload</v-btn>
                                <v-spacer></v-spacer>
                              </v-card-actions>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </v-col>
                  </v-row>
                </v-container>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Alamat
            <v-spacer></v-spacer>
            <v-btn text @click.stop="editPekerja('alamat')" color="primary">Perbarui</v-btn>
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6">
                <v-simple-table>
                  <template v-slot:default>
                    <v-container>
                      <tr>
                        <td class="font-weight-bold">Alamat Rumah</td>
                        <td>:</td>
                        <td>{{ pekerja.alamat_rumah }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Provinsi</td>
                        <td>:</td>
                        <td>{{ pekerja.provinsi.name }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Kota atau Kabupaten</td>
                        <td>:</td>
                        <td>{{ pekerja.kotakab.name }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Kecamatan</td>
                        <td>:</td>
                        <td>{{ pekerja.kecamatan.name }}</td>
                      </tr>
                      <tr>
                        <td class="font-weight-bold">Desa</td>
                        <td>:</td>
                        <td>{{ pekerja.desa.name }}</td>
                      </tr>
                    </v-container>
                  </template>
                </v-simple-table>
              </v-col>
              <v-col cols="12" md="6">
                <iframe
                  width="100%"
                  height="300px"
                  id="gmap_canvas"
                  :src="'https://maps.google.com/maps?q='+pekerja.kecamatan+'&t=&z=13&ie=UTF8&iwloc=&output=embed'"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                ></iframe>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Keahlian pekerja
            <v-spacer></v-spacer>
            <v-btn text @click.stop="dialog.tambah.keahlian = true" color="primary">Tambah</v-btn>
          </v-card-title>
          <v-card-text class="pa-5">
            <template v-for="item in pekerja.keahlian">
              <span :key="item.id">
                <v-chip
                  class="ma-2"
                  text-color="white"
                  @click.stop="editKeahlian(item)"
                  @click:close="removeKeahlian(item.id)"
                  close
                  color="green"
                >{{item.keahlian}}</v-chip>
              </span>
            </template>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <!-- MODAL DIALOG -->
    <v-dialog v-model="dialog.update.data_diri" width="600px" persistent>
      <v-card>
        <v-card-title>Perbarui data diri pekerja</v-card-title>
        <v-card-text>
          <v-form ref="form_data_diri">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input.update.pekerja.nama" label="Nama"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.pekerja.nik" label="NIK" type="number" counter></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="input.update.pekerja.no_telp"
                  label="Nomor telepon"
                  type="number"
                  counter
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="input.update.pekerja.email" label="Email"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="input.update.pekerja.tempat_lahir" label="Tempat lahir"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-menu
                  ref="tanggal_picker"
                  v-model="tanggal_picker"
                  :close-on-content-click="false"
                  :return-value.sync="input.update.pekerja.tanggal_lahir"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="input.update.pekerja.tanggal_lahir"
                      v-on="on"
                      required
                      label="Tanggal lahir"
                      readonly
                    />
                  </template>
                  <v-date-picker v-model="input.update.pekerja.tanggal_lahir" no-title scrollable>
                    <v-spacer />
                    <v-btn @click="tanggal_picker = false" text color="primary">Cancel</v-btn>
                    <v-btn
                      @click="$refs.tanggal_picker.save(input.update.tanggal_lahir)"
                      text
                      color="primary"
                    >OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.pekerja.bank" label="Bank"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.pekerja.nama_rekening" label="Nama Rekening"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.pekerja.nomor_rekening" label="Nomor Rekening"></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click.stop="dialog.update.data_diri = false">Tutup</v-btn>
          <v-btn text color="primary" @click.stop="updatePekerjaTani()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.update.alamat" width="600px" persistent>
      <v-card>
        <v-card-title>Perbarui alamat</v-card-title>
        <v-card-text>
          <v-form ref="form_alamat_update">
            <v-row>
              <v-col cols="12">
                <v-textarea v-model="input.update.pekerja.alamat_rumah" label="Alamat rumah"></v-textarea>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Provinsi"
                  @focus="getProv(true)"
                  @change="getKotakab(true); gantiAlamat('provinsi')"
                  v-model="search.provinsi"
                  :items="daftar.provinsi"
                  item-value="id"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kota atau Kabupaten"
                  @focus="getKotakab(true)"
                  @change="getKecamatan(true); gantiAlamat('kotakab')"
                  v-model="search.kotakab"
                  :items="daftar.kotakab"
                  item-value="id"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kecamatan"
                  @focus="getKecamatan(true)"
                  @change="getDesa(true); gantiAlamat('kecamatan')"
                  v-model="search.kecamatan"
                  :items="daftar.kecamatan"
                  item-value="id"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Desa"
                  @focus="getDesa(true)"
                  @change="gantiAlamat('desa')"
                  v-model="search.desa"
                  :items="daftar.desa"
                  item-value="id"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click.stop="dialog.update.alamat = false; $refs.form_alamat_update.reset();"
          >Tutup</v-btn>
          <v-btn text color="primary" @click.stop="updatePekerjaTani()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.tambah.keahlian" width="600px" persistent>
      <v-card>
        <v-card-title>Tambah keahlian</v-card-title>
        <v-card-text>
          <v-form ref="form_keahlian">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input.tambah.keahlian_pekerja.keahlian" label="Keahlian"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.tambah.keahlian_pekerja.deskripsi" label="Deskripsi"></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click.stop="dialog.tambah.keahlian = false">Tutup</v-btn>
          <v-btn text color="primary" @click.stop="storeKeahlian()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.update.keahlian" width="600px" persistent>
      <v-card>
        <v-card-title>Perbarui keahlian</v-card-title>
        <v-card-text>
          <v-form ref="form_keahlian">
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input.update.keahlian_pekerja.keahlian" label="Keahlian"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input.update.keahlian_pekerja.deskripsi" label="Deskripsi"></v-text-field>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click.stop="dialog.update.keahlian = false">Tutup</v-btn>
          <!-- <v-btn text color="primary" @click.stop="storeKeahlian()">Simpan</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- DIALOG ERROR -->
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false; isLoadImage = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->

    <!-- DIALOG SUCCESS -->
    <v-snackbar v-model="dialog.success" color="info" top>
      {{ success || "Success" }}
      <v-btn text @click="dialog.success = false; isLoadImage = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG SUCCESS -->
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      error: "",
      success: "",
      dialog: {
        update: {
          data_diri: false,
          alamat: false,
          keahlian: false
        },
        tambah: {
          keahlian: false
        },
        error: false,
        success: false
      },
      tanggal_picker: false,

      pekerja: {
        id: null,
        nama: null,
        nik: null,
        no_telp: null,
        tempat_lahir: null,
        tanggal_lahir: null,
        email: null,
        bank: null,
        nomor_rekening: null,
        nama_rekening: null,
        status_pekerja: null,
        alamat_rumah: null,
        provinsi: {
          id: null,
          name: ""
        },
        kotakab: {
          id: null,
          name: ""
        },
        kecamatan: {
          id: null,
          name: ""
        },
        desa: {
          id: null,
          name: ""
        },
        created_at: null,
        updated_at: null
      },

      input: {
        update: {
          keahlian_pekerja: {
            keahlian: null,
            deskripsi: null
          },
          pekerja: {
            nama: null,
            nik: null,
            no_telp: null,
            tempat_lahir: null,
            tanggal_lahir: null,
            email: null,
            bank: null,
            photo: null,
            nomor_rekening: null,
            nama_rekening: null,
            status_pekerja: null,
            alamat_rumah: null,
            provinsi_id: null,
            kotakab_id: null,
            kecamatan_id: null,
            desa_id: null,
            provinsi: {
              id: null,
              name: ""
            },
            kotakab: {
              id: null,
              name: ""
            },
            kecamatan: {
              id: null,
              name: ""
            },
            desa: {
              id: null,
              name: ""
            }
          }
        },
        tambah: {
          keahlian_pekerja: {
            keahlian: null,
            deskripsi: null
          }
        }
      },
      daftar: {
        provinsi: [],
        kotakab: [],
        kecamatan: [],
        desa: [],
        keahlian: []
      },
      search: {
        provinsi: {
          id: null,
          name: null
        },
        kotakab: {
          id: null,
          name: null
        },
        kecamatan: {
          id: null,
          name: null
        },
        desa: {
          id: null,
          name: null
        }
      },
      isLoadImage: false
    };
  },
  methods: {
    gantiAlamat(mode) {
      switch (mode) {
        case "provinsi":
          this.input.update.pekerja.provinsi = this.search.provinsi
            ? this.search.provinsi
            : this.input.update.pekerja.provinsi;
          this.input.update.pekerja.provinsi_id = this.search.provinsi.id
            ? this.search.provinsi.id
            : "";
          break;
        case "kotakab":
          this.input.update.pekerja.kotakab = this.search.kotakab
            ? this.search.kotakab
            : this.input.update.pekerja.kotakab;
          this.input.update.pekerja.kotakab_id = this.search.kotakab.id
            ? this.search.kotakab.id
            : "";
          break;
        case "kecamatan":
          this.input.update.pekerja.kecamatan = this.search.kecamatan
            ? this.search.kecamatan
            : this.input.update.pekerja.kecamatan;
          this.input.update.pekerja.kecamatan_id = this.search.kecamatan.id
            ? this.search.kecamatan.id
            : "";
          break;
        case "desa":
          this.input.update.pekerja.desa = this.search.desa
            ? this.search.desa
            : this.input.update.pekerja.desa;
          this.input.update.pekerja.desa_id = this.search.desa.id
            ? this.search.desa.id
            : "";
          break;
      }
    },
    editPekerja(mode) {
      this.input.update.pekerja.nama = this.pekerja.nama;
      this.input.update.pekerja.nik = this.pekerja.nik;
      this.input.update.pekerja.no_telp = this.pekerja.no_telp;
      this.input.update.pekerja.tempat_lahir = this.pekerja.tempat_lahir;
      this.input.update.pekerja.tanggal_lahir = this.pekerja.tanggal_lahir;
      this.input.update.pekerja.email = this.pekerja.email;
      this.input.update.pekerja.bank = this.pekerja.bank;
      this.input.update.pekerja.nomor_rekening = this.pekerja.nomor_rekening;
      this.input.update.pekerja.nama_rekening = this.pekerja.nama_rekening;
      this.input.update.pekerja.status_pekerja = this.pekerja.status_pekerja;
      this.input.update.pekerja.alamat_rumah = this.pekerja.alamat_rumah;
      this.input.update.pekerja.provinsi.id = this.pekerja.provinsi.id;
      this.input.update.pekerja.kotakab.id = this.pekerja.kotakab.id;
      this.input.update.pekerja.kecamatan.id = this.pekerja.kecamatan.id;
      this.input.update.pekerja.desa.id = this.pekerja.desa.id;
      this.input.update.pekerja.provinsi.name = this.pekerja.provinsi.name;
      this.input.update.pekerja.kotakab.name = this.pekerja.kotakab.name;
      this.input.update.pekerja.kecamatan.name = this.pekerja.kecamatan.name;
      this.input.update.pekerja.desa.name = this.pekerja.desa.name;
      this.search.provinsi = this.pekerja.provinsi;
      this.search.kotakab = this.pekerja.kotakab;
      this.search.kecamatan = this.pekerja.kecamatan;
      this.search.desa = this.pekerja.desa;
      switch (mode) {
        case "alamat":
          this.dialog.update.alamat = true;
          break;
        case "data_diri":
          this.dialog.update.data_diri = true;
          break;
        default:
          this.error = "Terjadi kesalahan";
          this.dialog.error = true;
          break;
      }
    },
    editKeahlian(object) {
      this.input.update.keahlian_pekerja.keahlian = object.keahlian;
      this.input.update.keahlian_pekerja.deskripsi = object.deskripsi;
      this.dialog.update.keahlian = true;
    },
    async getProv(isUpdate = false) {
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/provinsi")
        .then(response => {
          this.daftar.provinsi = response.data.provinsi;
        })
        .catch(error => {
          console.error(error);
          this.error = "Gagal memperoleh daftar provinsi";
          this.dialog.error = true;
        });
    },
    async getKotakab(isUpdate = false) {
      const params = {
        province_id: isUpdate
          ? this.input.update.pekerja.provinsi.id
          : this.pekerja.provinsi.id
      };
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/kota", { params })
        .then(response => {
          this.daftar.kotakab = response.data.kota.cities;
        })
        .catch(error => {
          console.error(error);
          this.error = "Gagal memperoleh daftar kota atau kabupaten";
          this.dialog.error = true;
        });
    },
    async getKecamatan(isUpdate = false) {
      const params = {
        city_id: isUpdate
          ? this.input.update.pekerja.kotakab.id
          : this.pekerja.kotakab.id
      };
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/kecamatan", { params })
        .then(response => {
          this.daftar.kecamatan = response.data.kecamatan.districts;
        })
        .catch(error => {
          console.error(error);
          this.error = "Gagal memperoleh daftar kecamatan";
          this.dialog.error = true;
        });
    },
    async getDesa(isUpdate = false) {
      const params = {
        district_id: isUpdate
          ? this.input.update.pekerja.kecamatan.id
          : this.pekerja.kecamatan.id
      };
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/kelurahan", { params })
        .then(response => {
          this.daftar.desa = response.data.kelurahan.villages;
        })
        .catch(error => {
          console.error(error);
          this.error = "Gagal memperoleh daftar desa atau kelurahan";
          this.dialog.error = true;
        });
    },
    async getPekerjaTani() {
      await this.$axios
        .get("pekerja-tani/" + this.$route.params.id)
        .then(response => {
          this.pekerja = response.data;
          this.getProv();
        })
        .then(response => {
          this.getKotakab();
        })
        .then(response => {
          this.getKecamatan();
        })
        .then(response => {
          this.getDesa();
        })
        .catch(error => {
          console.error(error);
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updatePekerjaTani() {
      await this.$axios({
        method: "post",
        url: "pekerja-tani/" + this.pekerja.id,
        data: this.input.update.pekerja
      })
        .then(response => {
          this.success = response.data.messages;
          this.dialog.success = true;
          this.dialog.update.alamat = false;
          this.dialog.update.data_diri = false;
        })
        .then(() => {
          this.getPekerjaTani();
        })
        .catch(error => {
          console.error(error);
          this.error = error;
          this.dialog.error = true;
        });
    },
    async updateFotoPekerjaTani(photo) {
      const body = new FormData();
      body.append("photo", photo);
      for (let key in this.pekerja) {
        if (
          key === "provinsi" ||
          key === "kotakab" ||
          key === "kecamatan" ||
          key === "desa"
        )
          continue;
        else body.append(key, this.pekerja[key]);
      }
      await this.$axios({
        method: "post",
        url: "pekerja-tani/" + this.pekerja.id,
        data: body
      })
        .then(response => {
          this.success = response.data.messages;
          this.dialog.success = true;
          this.dialog.update.alamat = false;
          this.dialog.update.data_diri = false;
          this.isLoadImage = false;
        })
        .then(() => {
          this.getPekerjaTani();
        })
        .catch(error => {
          this.error = error.messages;
          this.dialog.error = true;
          this.isLoadImage = false;
        });
    },
    async storeKeahlian() {
      await this.$axios({
        method: "post",
        url: "pekerja-tani/" + this.pekerja.id + "/assign-keahlian",
        data: this.input.tambah.keahlian_pekerja
      })
        .then(response => {
          this.success = response.data.messages;
          this.dialog.success = true;
          this.dialog.tambah.keahlian = false;
        })
        .then(() => {
          this.getPekerjaTani();
        })
        .catch(error => {
          console.error(error);
          this.error = error;
          this.dialog.error = true;
        });
    },
    async removeKeahlian(id) {
      await this.$axios({
        method: "post",
        url:
          "pekerja-tani/" +
          this.pekerja.id +
          "/remove-keahlian?keahlian_id=" +
          id,
        data: null
      })
        .then(response => {
          this.success = "Berhasil menghapus keahlian";
          this.dialog.success = true;
        })
        .then(() => {
          this.getPekerjaTani();
        })
        .catch(error => {
          console.error(error);
          this.error = error;
          this.dialog.error = true;
        });
    },
    async onImagePicked(event) {
      this.isLoadImage = true;
      let photo = event.target.files[0];
      if (
        photo.name.split(".")[1] !== "png" &&
        photo.name.split(".")[1] !== "jpeg" &&
        photo.name.split(".")[1] !== "jpg"
      ) {
        this.error = "Format file yang didukung hanya png dan jpg";
        this.dialog.error = true;
      } else await this.updateFotoPekerjaTani(photo);
    }
  },
  computed: {
    photoPekerja: function() {
      if (typeof this.pekerja.photo === "string") return this.pekerja.photo;
      else return "https://picsum.photos/300";
    }
  },
  mounted() {
    this.getPekerjaTani();
  }
};
</script>

<style>
</style>
