<template>
  <v-card>
    <v-card-title>
      <v-btn icon @click.stop="$router.go(-1)">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>Tambah Pekerja Tani
    </v-card-title>
    <v-card-text>
      <v-form ref="form">
        <v-row justify="center" align="center" align-content="center">
          <v-col cols="12">
            <v-text-field
              counter
              :rules="[rules.required, rules.alphabet]"
              v-model="input.nama"
              label="Nama"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field counter :rules="[]" v-model="input.nik" label="NIK" type="number"></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              counter
              :rules="[rules.required]"
              v-model="input.no_telp"
              label="Nomor Handphone"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field counter :rules="[rules.email]" v-model="input.email" label="Email"></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-text-field counter :rules="[]" v-model="input.tempat_lahir" label="Tempat lahir"></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-menu
              ref="tanggal_picker"
              counter
              :rules="[]"
              v-model="tanggal_picker"
              :close-on-content-click="false"
              :return-value.sync="input.tanggal_lahir"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on }">
                <v-text-field
                  counter
                  :rules="[rules.required]"
                  v-model="input.tanggal_lahir"
                  v-on="on"
                  required
                  label="Tanggal lahir"
                  readonly
                />
              </template>
              <v-date-picker v-model="input.tanggal_lahir" no-title scrollable>
                <v-spacer />
                <v-btn @click="tanggal_picker = false" text color="primary">Cancel</v-btn>
                <v-btn
                  @click="$refs.tanggal_picker.save(input.tanggal_lahir)"
                  text
                  color="primary"
                >OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="12">
            <v-text-field
              counter
              :rules="[rules.required]"
              v-model="input.alamat_rumah"
              label="Alamat rumah"
            ></v-text-field>
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              label="Provinsi"
              v-model="search.provinsi"
              @focus="getProv"
              @change="input.provinsi_id = search.provinsi.id"
              required
              :items="daftar_provinsi"
              :rules="[rules.required]"
              item-text="name"
              return-object
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              label="Kabupaten atau Kota"
              v-model="search.kotakab"
              @focus="getKotakab"
              @change="input.kotakab_id = search.kotakab.id"
              required
              :items="daftar_kotakab"
              :rules="[rules.required]"
              item-text="name"
              return-object
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              label="Kecamatan"
              v-model="search.kecamatan"
              @focus="getKecamatan"
              @change="input.kecamatan_id = search.kecamatan.id"
              required
              :items="daftar_kecamatan"
              :rules="[rules.required]"
              item-text="name"
              return-object
            ></v-autocomplete>
          </v-col>
          <v-col cols="6">
            <v-autocomplete
              label="Desa"
              v-model="search.kelurahan"
              @focus="getKelurahan"
              @change="input.desa_id = search.kelurahan.id"
              required
              :items="daftar_kelurahan"
              :rules="[rules.required]"
              item-text="name"
              return-object
            ></v-autocomplete>
          </v-col>
          <v-col cols="12">
            <v-select
              v-model="input.status_pekerja"
              label="Status Pekerja"
              :items="['Tetap','Harian']"
            ></v-select>
          </v-col>
          <v-col cols="12">
            <v-text-field counter :rules="[]" v-model="input.bank" label="Bank"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              counter
              :rules="[]"
              v-model="input.nomor_rekening"
              label="Nomor rekening"
              type="number"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field counter :rules="[]" v-model="input.nama_rekening" label="Nama rekening"></v-text-field>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <!-- <v-spacer></v-spacer>
      <v-btn text @click.stop="dialog_tambah_pekerja = false">Batal</v-btn>-->
      <v-btn dark color="red" block @click.stop="storePekerjaTani">Simpan</v-btn>
    </v-card-actions>

    <!-- DIALOG ERROR -->
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->

    <!-- DIALOG SUCCESS -->
    <v-snackbar v-model="dialog.success" color="info" top>
      {{ success || "Success" }}
      <v-btn text @click="dialog.success = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG SUCCESS -->
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      error: "",
      success: "",
      dialog: {
        error: false,
        success: false
      },
      input: {
        nama: "",
        nik: "",
        no_telp: "",
        tempat_lahir: "",
        tanggal_lahir: "",
        email: "",
        bank: "",
        nomor_rekening: "",
        nama_rekening: "",
        status_pekerja: "",
        alamat_rumah: "",
        provinsi_id: "",
        kotakab_id: "",
        kecamatan_id: "",
        desa_id: ""
      },
      search: {
        provinsi: null,
        kotakab: null,
        kecamatan: null,
        kelurahan: null
      },
      daftar_provinsi: [],
      daftar_kotakab: [],
      daftar_kecamatan: [],
      daftar_kelurahan: [],
      tanggal_picker: false,
      rules: {
        required: value => !!value || "Required.",
        handphone: value => {
          const pattern = /d{6,14}/;
          return pattern.test(value) || "Panjang nomor handphone tidak sesuai";
        },
        email: value => {
          const pattern = /^(?:(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,})))?$/;
          return pattern.test(value) || "Email tidak sah";
        },
        alphabet: value => {
          const pattern = /^[a-zA-Z][a-zA-Z\s]+$/;
          return pattern.test(value) || "Format nama tidak sesuai";
        }
      }
    };
  },
  methods: {
    async getProv() {
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/provinsi")
        .then(response => {
          this.daftar_provinsi = response.data.provinsi;
          return this.daftar_provinsi;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getKotakab() {
      if (this.search.provinsi) {
        const params = {
          province_id: this.search.provinsi.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kota", { params })
          .then(response => {
            this.daftar_kotakab = response.data.kota.cities;
            return this.daftar_provinsi;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getKecamatan() {
      if (this.search.kotakab) {
        const params = {
          city_id: this.search.kotakab.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kecamatan", { params })
          .then(response => {
            this.daftar_kecamatan = response.data.kecamatan.districts;
            return this.daftar_kecamatan;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getKelurahan() {
      if (this.search.kecamatan) {
        const params = {
          district_id: this.search.kecamatan.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kelurahan", { params })
          .then(response => {
            this.daftar_kelurahan = response.data.kelurahan.villages;
            return this.daftar_kelurahan;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async storePekerjaTani() {
      if (!this.$refs.form.validate()) {
        this.error = "Form belum valid";
        this.dialog.error = true;
        return;
      }

      await this.$axios({
        method: "post",
        url: "pekerja-tani",
        data: this.input
      })
        .then(response => {
          this.success = response.messages;
          console.log(response);
          this.dialog.success = true;
          this.$refs.form.reset();
          this.$router.push({
            path: `/pekerja-tani/${response.data.pekerja_tani.id}`
          });
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    }
  }
};
</script>

<style>
</style>
