<template>
  <v-layout justify-center>
    <!-- KONTEN UTAMA -->
    <v-row>
      <v-col cols="12">
        <span class="display-1">Pekerja Tani</span>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-card-title>
            Daftar Pekerja Tani
            <v-spacer></v-spacer>
            <v-text-field
              hide-details
              label="Cari"
              prepend-inner-icon="mdi-account-search"
              dense
              solo
              flat
              v-model="cari_pekerja"
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn color="primary" to="pekerja-tani/baru" dark v-on="on">
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>Tambah Pekerja Tani</span>
            </v-tooltip>
          </v-card-title>
          <v-data-table :headers="pekerja_header" :items="daftar_pekerja" :search="cari_pekerja">
            <template v-slot:item.id="{item}">
              <nuxt-link :to="'/pekerja-tani/' + item.id">Lihat detail</nuxt-link>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>

    <!-- DIALOG ERROR -->
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      pekerja_header: [
        { text: "Nama", value: "nama" },
        { text: "Kontak", value: "no_telp" },
        { text: "Alamat Rumah", value: "alamat_rumah" },
        { text: "Rekening", value: "nomor_rekening" },
        { text: "Status Kerja", value: "status_pekerja" },
        { text: "", value: "id" }
      ],
      daftar_pekerja: [],
      cari_pekerja: "",
      dialog: {
        error: false
      },
      error: ""
    };
  },
  methods: {
    async getPekerjaTani() {
      await this.$axios
        .get("pekerja-tani")
        .then(response => {
          console.log(response);
          this.daftar_pekerja = response.data;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    }
  },
  mounted() {
    this.getPekerjaTani();
  }
};
</script>
