<template>
  <v-app>
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
export default {

}
</script>
<style>
body {
  overflow: hidden; /* Hide scrollbars */
}
</style>
