<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" fixed app clipped>
      <template v-slot:prepend>
        <v-list-item class="pt-2">
          <v-container>
            <img src="~assets/img/logo.png" height="50px" />
          </v-container>
        </v-list-item>
      </template>
      <v-list flat>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact color="primary">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar fixed app flat color="primary" dark clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-spacer></v-spacer>
      <img src="~assets/img/logo-putih.png" height="30px" />
      <v-spacer></v-spacer>
      <v-menu :close-on-content-click="false" :nudge-width="200" offset-x offset-y>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" icon>
            <v-icon>mdi-account</v-icon>
          </v-btn>

          <!-- <v-btn
            text
            fab
            v-on="on"
          >
          </v-btn>-->
        </template>

        <v-card max-width="300px">
          <v-list>
            <v-list-item>
              <v-list-item-avatar color="primary"></v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{this.$auth.user.name}}</v-list-item-title>
                <v-list-item-subtitle>{{this.$auth.user.role}}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>
          <v-card-text>Protani User</v-card-text>

          <v-card-actions>
            <!-- <v-btn text @click="menu = false" disabled small>Edit Profile</v-btn> -->
            <v-spacer></v-spacer>
            <v-btn color="primary" small text @click="$auth.logout()">Logout</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-app-bar>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>Demo Protani.id Budidaya</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          icon: "mdi-view-dashboard",
          title: "Beranda",
          to: "/"
        },
        {
          icon: "mdi-folder-image",
          title: "Lahan",
          to: "/lahan"
        },
        {
          icon: "mdi-monitor-dashboard",
          title: "Program tanam",
          to: "/program-tanam"
        },
        {
          icon: "mdi-account-group",
          title: "Pekerja tani",
          to: "/pekerja-tani"
        }
      ]
    };
  }
};
</script>
