<template>
  <v-layout justify-center>
    <!-- KONTEN UTAMA -->
    <v-row>
      <v-col cols="12">
        <span class="display-1">Selamat Datang, Rukman Dungus!</span>
      </v-col>

      <v-col cols="12" md="4">
        <v-card class="text-center" to="/lahan">
          <v-card-title>Lahan dikelola</v-card-title>
          <v-card-text>
            <span class="display-2">{{jumlah_luas}}</span>
            <span class="display-1">
              m
              <sup>2</sup>
            </span>
            <div>{{daftar_lahan.length}} Lahan</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card class="text-center" to="/program-tanam">
          <v-card-title>Program tanam berjalan</v-card-title>
          <v-card-text>
            <span class="display-2">On Progress</span>
            <div>On Progress</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card class="text-center" to="/pekerja-tani">
          <v-card-title>Pekerja tani</v-card-title>
          <v-card-text>
            <span class="display-2">{{jumlah_pekerja}}</span>
            <div>Orang</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <span class="title">Lahan</span>
        <v-btn class="float-right" color="primary" dark to="/lahan/baru">Tambah</v-btn>
      </v-col>
      <v-col cols="12" md="4" v-for="lahan in daftar_lahan" :key="lahan.id">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header v-slot="{ open }">
              <div v-if="!open">{{lahan.nama}}</div>
              <div v-if="!open">
                {{lahan.luas_pbb}} m
                <sup>2</sup>
              </div>
              <span v-if="!open">{{lahan.jumlah_blok}} Blok</span>
              <span v-if="open">Detail lahan</span>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div>
                {{lahan.luas_pbb}} m
                <sup>2</sup>
                / {{lahan.jumlah_blok}} blok
              </div>
              <p class="display-1 text--primary">{{lahan.nama}}</p>
              <p>{{lahan.desa.name}}</p>
              <div class="text--primary">(On Progress)5 Program tanam berjalan</div>
              <v-btn
                text
                block
                @click.stop="$router.push(`/lahan/${lahan.id}`)"
                color="primary"
              >Kelola</v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols="12">
        <span class="title">Program tanam</span>
        <v-btn class="float-right" color="red" disabled>Tambah</v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>Nama program tanam (On Progress)</v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="py-2">
                <span class="subtitle-2">Lahan</span>
                <v-chip class="float-right">Lahan1</v-chip>
              </div>
              <div class="py-2">
                <span class="subtitle-2">Blok</span>
                <v-chip class="float-right">Blok1</v-chip>
              </div>
              <v-list>
                <v-list-item class="pa-0">
                  <v-list-item-content>
                    <v-list-item-title>Komoditas 1</v-list-item-title>
                    <v-list-item-subtitle>Fase budidaya</v-list-item-subtitle>
                    <v-list-item-subtitle>Usia tanaman</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item class="pa-0">
                  <v-list-item-content>
                    <v-list-item-title>komoditas 2</v-list-item-title>
                    <v-list-item-subtitle>Fase budidaya</v-list-item-subtitle>
                    <v-list-item-subtitle>Usia tanaman</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-btn block text class="mt-5">Kelola</v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      lahan_header: [
        { text: "Nama Lahan", value: "nama" },
        { text: "Luas", value: "luas_pbb" },
        { text: "Jumlah Blok", value: "jumlah_blok" },
        { text: "Lokasi", value: "kotakab" },
        { text: "", value: "id" }
      ],
      daftar_lahan: [],
      jumlah_pekerja: 0
    };
  },
  methods: {
    getLahan() {
      this.$axios({
        method: "get",
        url: "/lahan"
      }).then(response => {
        console.log(response);
        this.daftar_lahan = response.data;
      });
    },
    getJumlahPekerja() {
      this.$axios({
        method: "get",
        url: "/pekerja-tani/count"
      }).then(response => {
        console.log(response);
        this.jumlah_pekerja = response.data.jumlah_pekerja;
      });
    }
  },
  computed: {
    jumlah_luas() {
      let result = 0;
      for (let i = 0; i < this.daftar_lahan.length; i++) {
        result += this.daftar_lahan[i].luas_pbb;
      }
      return result;
    }
  },
  mounted() {
    this.getLahan();
    this.getJumlahPekerja();
  }
};
</script>
