<template>
  <v-layout justify-center>
    <!-- KONTEN UTAMA -->
    <v-row>
      <v-col cols="12">
        <span class="display-1">On Progress</span>
      </v-col>

      <v-col cols="12" md="6">
        <v-card class="text-center">
          <v-card-title>Lahan dikelola</v-card-title>
          <v-card-text>
            <span class="display-2">{{ lahan_total }}</span>
            <span class="display-1">
              m
              <sup>2</sup>
            </span>
            <div>{{ daftar_lahan.length }} Lahan</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card class="text-center">
          <v-card-title>Jumlah pohon</v-card-title>
          <v-card-text>
            <span class="display-2">On Progress</span>
            <div>{{ daftar_lahan.length }} Lahan</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <span class="title">Komoditas tanaman</span>
        <!-- <v-btn class="float-right" color="red" disabled>Tambah</v-btn> -->
      </v-col>
      <v-col cols="12" md="4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>Cabe merah</v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-simple-table>
                <template v-slot:default>
                  <tbody>
                    <tr>
                      <td>Tanaman hidup</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>Tanaman sakit</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td>Tanaman mati</td>
                      <td>1000</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols="12">
        <span class="title">Program tanam</span>
        <v-btn class="float-right" color="red" disabled>Tambah</v-btn>
      </v-col>
      <v-col cols="12" md="4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header>Nama program tanam</v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="py-2">
                <span class="subtitle-2">Lahan</span>
                <v-chip class="float-right">Lahan1</v-chip>
              </div>
              <div class="py-2">
                <span class="subtitle-2">Blok</span>
                <v-chip class="float-right">Blok1</v-chip>
              </div>
              <v-list>
                <v-list-item class="pa-0">
                  <v-list-item-content>
                    <v-list-item-title>Komoditas 1</v-list-item-title>
                    <v-list-item-subtitle>Fase budidaya</v-list-item-subtitle>
                    <v-list-item-subtitle>Usia tanaman</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item class="pa-0">
                  <v-list-item-content>
                    <v-list-item-title>komoditas 2</v-list-item-title>
                    <v-list-item-subtitle>Fase budidaya</v-list-item-subtitle>
                    <v-list-item-subtitle>Usia tanaman</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
              <v-btn block text class="mt-5">Kelola</v-btn>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      lahan_header: [
        { text: "Nama Lahan", value: "nama" },
        { text: "Luas", value: "luas_pbb" },
        { text: "Jumlah Blok", value: "jumlah_blok" },
        { text: "Lokasi", value: "kotakab" },
        { text: "", value: "id" }
      ],
      daftar_lahan: []
    };
  },
  methods: {
    getLahan() {
      this.$axios({
        method: "get",
        url: "/lahan"
      }).then(response => {
        console.log(response);
        this.daftar_lahan = response.data;
      });
    }
  },
  computed: {
    lahan_total: function() {
      let sum = 0;
      this.daftar_lahan.forEach(lahan => {
        sum += lahan.luas_pbb;
      });
      return sum;
    }
  },
  mounted() {
    this.getLahan();
  }
};
</script>
