<template>
  <v-layout justify-center>
    <v-flex md12>
      <v-card>
        <v-card-title>Tambah lahan baru</v-card-title>
        <v-card-text>
          <v-form>
            <v-row>
              <v-col cols="12">
                <v-text-field label="Nama lahan" v-model="input.nama"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea label="Alamat" v-model="input.alamat"></v-textarea>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Provinsi"
                  v-model="search.provinsi"
                  @focus="getProv"
                  @change="input.provinsi_id = search.provinsi.id"
                  required
                  :items="daftar_provinsi"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kabupaten atau Kota"
                  v-model="search.kotakab"
                  @focus="getKotakab"
                  @change="input.kotakab_id = search.kotakab.id"
                  required
                  :items="daftar_kotakab"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Kecamatan"
                  v-model="search.kecamatan"
                  @focus="getKecamatan"
                  @change="input.kecamatan_id = search.kecamatan.id"
                  required
                  :items="daftar_kecamatan"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-autocomplete
                  label="Desa"
                  v-model="search.kelurahan"
                  @focus="getKelurahan"
                  @change="input.desa_id = search.kelurahan.id"
                  required
                  :items="daftar_kelurahan"
                  :rules="[rules.required]"
                  item-text="name"
                  return-object
                ></v-autocomplete>
              </v-col>
              <v-col cols="6">
                <v-text-field label="Latitude" v-model="input.lat" type="number"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field label="Longitude" v-model="input.lng" type="number"></v-text-field>
              </v-col>
              <v-col cols="12">
                <small>
                  <a
                    target="_blank"
                    :href="'https://www.openstreetmap.org/#map=15/'+ input.lat +'/' + input.lng"
                  >View Larger Map</a>
                </small>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn block color="primary" @click="storeLahan()">Simpan</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-snackbar v-model="dialog.error" color="error" top>
      {{ error || "Error" }}
      <v-btn text @click="dialog.error = false">Close</v-btn>
    </v-snackbar>
    <!-- END DIALOG ERROR -->

    <!-- DIALOG SUCCESS -->
    <v-snackbar v-model="dialog.success" color="info" top>
      {{ success || "Success" }}
      <v-btn text @click="dialog.success = false">Close</v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      error: "",
      success: "",
      dialog: {
        error: false,
        success: false
      },
      status_kepemilikan: ["Sewa", "Kas Desa", "Izin Olah", "Perseorangan"],
      input: {
        nama: "",
        lat: null,
        lng: null,
        alamat: "",
        provinsi_id: "",
        kotakab_id: "",
        kecamatan_id: "",
        desa_id: ""
      },
      search: {
        provinsi: {
          id: null
        },
        kotakab: {
          id: null
        },
        kecamatan: {
          id: null
        },
        kelurahan: {
          id: null
        }
      },
      daftar_provinsi: [],
      daftar_kotakab: [],
      daftar_kecamatan: [],
      daftar_kelurahan: [],
      rules: {
        required: value => !!value || "Required.",
        handphone: value => {
          const pattern = /d{6,14}/;
          return pattern.test(value) || "Panjang nomor handphone tidak sesuai";
        },
        email: value => {
          const pattern = /^(?:(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,})))?$/;
          return pattern.test(value) || "Email tidak sah";
        },
        alphabet: value => {
          const pattern = /^[a-zA-Z][a-zA-Z\s]+$/;
          return pattern.test(value) || "Format nama tidak sesuai";
        }
      }
    };
  },
  methods: {
    async getProv() {
      return await this.$axios
        .get("http://dev2.protani.id/api/daerah/provinsi")
        .then(response => {
          this.daftar_provinsi = response.data.provinsi;
          return this.daftar_provinsi;
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    },
    async getKotakab() {
      if (this.search.provinsi.id) {
        const params = {
          province_id: this.search.provinsi.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kota", { params })
          .then(response => {
            this.daftar_kotakab = response.data.kota.cities;
            return this.daftar_provinsi;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getKecamatan() {
      if (this.search.kotakab.id) {
        const params = {
          city_id: this.search.kotakab.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kecamatan", { params })
          .then(response => {
            this.daftar_kecamatan = response.data.kecamatan.districts;
            return this.daftar_kecamatan;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    async getKelurahan() {
      if (this.search.kecamatan.id) {
        const params = {
          district_id: this.search.kecamatan.id
        };
        return await this.$axios
          .get("http://dev2.protani.id/api/daerah/kelurahan", { params })
          .then(response => {
            this.daftar_kelurahan = response.data.kelurahan.villages;
            return this.daftar_kelurahan;
          })
          .catch(error => {
            this.error = error;
            this.dialog.error = true;
          });
      }
    },
    storeLahan() {
      this.$axios({
        method: "post",
        url: "lahan",
        data: this.input
      })
        .then(response => {
          console.log(response);
          this.$router.push({
            name: "lahan-id",
            params: { id: response.data.id }
          });
        })
        .catch(error => {
          this.error = error;
          this.dialog.error = true;
        });
    }
  }
};
</script>

<style>
</style>
