<template>
  <v-layout justify-center>
    <!-- KONTEN UTAMA -->
    <v-row>
      <v-col cols="12">
        <span class="display-1">Kerja yang bagus!</span>
      </v-col>

      <v-col cols="12" md="4">
        <v-card>
          <v-card-title>Total Luas Lahan</v-card-title>
          <v-card-text class="text-center">
            <span class="display-4">{{jumlah_luas}}</span>
            <span class="display-1">
              m
              <sup>2</sup>
            </span>
            <div>{{daftar_lahan.length}} Lahan</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card>
          <v-card-title>Lubang tanam</v-card-title>
          <v-card-text class="text-center">
            <span class="display-2">On Progress</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card>
          <v-card-title>Lubang ditanami</v-card-title>
          <v-card-text class="text-center">
            <span class="display-2">On Progress</span>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12">
        <span class="title">Lahan</span>
        <v-btn class="float-right" color="primary" dark to="/lahan/baru">Tambah</v-btn>
      </v-col>
      <v-col cols="12" md="4" v-for="lahan in daftar_lahan" :key="lahan.id">
        <v-card outlined @click.stop="$router.push(`/lahan/${lahan.id}`)">
          <!-- <v-list-item three-line>
            <v-list-item-content>
              <div class="overline mb-4">
                {{lahan.luas_pbb}} m
                <sup>2</sup>
                / {{lahan.jumlah_blok}} blok
              </div>
              <v-list-item-title class="headline mb-1">{{lahan.nama}}</v-list-item-title>
              <v-list-item-subtitle>{{lahan.desa}}</v-list-item-subtitle>
              <v-list-item-subtitle class="subtitle-2">5 program tanam</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
          </v-list-item>-->
          <v-card-text>
            <div>
              {{lahan.luas_pbb}} m
              <sup>2</sup>
              / {{lahan.jumlah_blok}} blok
            </div>
            <p class="display-1 text--primary">{{lahan.nama}}</p>
            <p>{{lahan.desa.name}}</p>
            <div class="text--primary">5 Program tanam berjalan</div>
          </v-card-text>

          <v-card-actions>
            <!-- <v-spacer></v-spacer> -->
            <v-btn text block>Kelola</v-btn>
            <!-- <v-btn text>Button</v-btn> -->
          </v-card-actions>
        </v-card>
      </v-col>
      <!-- TABEL LAHAN -->
      <!-- <v-col cols="12">
        <v-card>
          <v-card-title>
            Lahan
            <v-spacer></v-spacer>
            <v-btn color="primary" to="/lahan/baru">Tambah Lahan</v-btn>
          </v-card-title>
          <v-data-table :headers="lahan_header" :items="daftar_lahan">
            <template v-slot:item.nama="{item}">
              <nuxt-link :to="'/lahan/' + item.id">{{item.nama}}</nuxt-link>
            </template>
            <template v-slot:item.id="{item}">
              <nuxt-link :to="'/lahan/' + item.id">Lihat detail</nuxt-link>
            </template>
          </v-data-table>
        </v-card>
      </v-col>-->
    </v-row>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      lahan_header: [
        { text: "Nama Lahan", value: "nama" },
        { text: "Luas", value: "luas_pbb" },
        { text: "Jumlah Blok", value: "jumlah_blok" },
        { text: "Lokasi", value: "kotakab" },
        { text: "", value: "id" }
      ],
      daftar_lahan: []
    };
  },
  methods: {
    getLahan() {
      this.$axios({
        method: "get",
        url: "/lahan"
      }).then(response => {
        console.log(response);
        this.daftar_lahan = response.data;
      });
    }
  },
  computed: {
    jumlah_luas() {
      let result = 0;
      for (let i = 0; i < this.daftar_lahan.length; i++) {
        result += this.daftar_lahan[i].luas_pbb;
      }
      return result;
    }
  },
  mounted() {
    this.getLahan();
  }
};
</script>
